In [44]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

base_URL = "https://www.abs.gov.au"

In [31]:
html = requests.get(base_URL+"/statistics").text
soup = BeautifulSoup(html, 'lxml')
links = soup.find_all('a', {"class": "field-group-link"})

# for l in links:
#     link = l['href']
#     if link.startswith("/statistics"):
#         print(link)
# print(links)

<!-- # Make a directory to save the downloads -->

In [18]:
# import os

# os.makedirs('./testDownload/', exist_ok=True)

# Crawl the tables from the web

In [37]:
statistic_url = links[0]["href"]

URL = base_URL + statistic_url

html = requests.get(URL).text
soup = BeautifulSoup(html, 'lxml')

In [39]:
tables = soup.find_all("table")
print("Number of tables on site: ",len(tables))

Number of tables on site:  8

In [63]:
for table in tables:
    caption = table.find_all("caption")
    print(caption)

[<caption><h2 id="national-accounts">National Accounts</h2></caption>]
[<caption><h2 id="international-accounts">International Accounts</h2></caption>]
[<caption><h2 id="consumption-and-investment">Consumption and investment</h2></caption>]
[<caption><h2 id="production">Production</h2></caption>]
[<caption><h2 id="prices">Prices</h2></caption>]
[<caption><h2 id="labour-force-and-demography">Labour force and demography</h2></caption>]
[<caption><h2 id="incomes">Incomes</h2></caption>]
[<caption><h2 id="lending-indicators">Lending Indicators</h2></caption>]

In [80]:
# table = tables[0]
graphs = []

for table in tables:
    headings = []
    table_rows = table.find_all("tr")
    head = table_rows[0]
    
    for item in head.find_all("th"):
        item = (item.text).rstrip("\n")
        headings.append(item)
#     print(headings)
    demographics = []
    for i in range(1, len(table_rows)):
        tr = table_rows[i]
        data_demo = tr.find_all("td")
        row_demo = [tr.text for tr in data_demo]
        demographics.append(row_demo)
    demographics2 = pd.DataFrame(data=demographics,columns=headings)
    graphs.append(demographics2)

In [89]:
from IPython.display import display

for graph in graphs:
    display(graph)

,Indicator,Period,Unit,Value,Change previous period,Change same period last year
0,"Gross domestic product GDP, Chain volume measu...",Sep Qtr 2020,$m,"476,043",▲3.3%,▼-3.8%
1,"Gross domestic product GDP, Chain volume measu...",2019-20,$m,"1,947,805",▼-0.2%,na

,Indicator,Period,Unit,Value,Change previous period,Change same period last year
0,Balance on Goods and Services - seasonally adj...,December 2020,$m,"6,785",na,na
1,Total Goods and Services Credits - seasonally ...,December 2020,$m,"37,268",▲12.9%,▼-0.9%
2,Total Goods and Services Debits - seasonally a...,December 2020,$m,"30,483",▼-2.4%,▲1.2%
3,Balance on Current Account - seasonally adjusted,December 2020,$m,"14,523",na,na
4,Net International Investment Position (IIP) - ...,December 2020,$m,"947,218",▼0.26%,na
5,Net Foreign Debt - original,December 2020,$m,"1,165,347",▲0.23%,na

,Indicator,Period,Unit,Value,Change previous period,Change same period last year
0,Retail turnover at current prices - seasonally...,December 2020,$m,"30,368.8",▼-4.1%,▲9.6%
1,Actual New Capital Expenditure in volume terms...,Dec qtr 2020,$m,29 385,▲3.0%,▼-7.5%
2,"Inventories held by Private Businesses, in vol...",Dec Qtr 2020,$m,"164,294",⬤0.0,▼4.6
3,Total new motor vehicle sales,Dec 2017,no.,"99,756",▲0.2%,▲2.8%

,Indicator,Period,Unit,Value,Change previous period,Change same period last year
0,Income from sales of goods and services by Man...,Dec Qtr 2020,$m,"87,865",▲2.2,▼0.8
1,Dwelling unit approvals - seasonally adjusted,January 2021,no.,15926,▼-19.4,▲19.0
2,Building approvals - seasonally adjusted,January 2021,$m,9064.80,▼-16.8,▼-8.8
3,Total dwelling units commenced - seasonally ad...,Sep 2020,no.,42545,▼-0.8,▲3.5
4,Building work done - chain volume measures - s...,Dec 2020,$m,"29,373.9",▲0.6,▼-2.2
5,Engineering construction work done - chain vol...,Dec 2020,$m,"21,796.6",▼-2.8,▼-0.3

,Indicator,Period,Unit,Value,Change previous period,Change same period last year
0,Consumer price index (2011-12 = 100.0) - original,Dec 2020 Qtr,Index no.,117.2,▲0.9%,▲0.9%
1,"Producer Price Indexes, Final Demand (2011-12 ...",December 2020 Qtr,Index no.,112.3,▲0.5%,▼-0.1%
2,Import price index (2011-12 = 100.0) - original,Dec Qtr 20,Index no.,105.9,▼-1.0%,▼-7.3%
3,Export price index (2011-12 = 100.0) - original,Dec Qtr 20,Index no.,109.1,▲5.5%,▲0.3%
4,Wage Price Index (2008-2009 = 100.0) - original,Dec Qtr 2020,Index no.,135.4,▲0.5,▲1.4

,Indicator,Period,Unit,Value,Change previous period,Change same period last year
0,Employed persons - seasonally adjusted,January 2021,'000,"12,939.9",▲29.1,▼-45.6
1,Participation rate - seasonally adjusted,January 2021,%,66.1,▼-0.1,▲0.1
2,Unemployment rate - seasonally adjusted,January 2021,%,6.4,▼-0.2,▲1.1
3,Employment to Population ratio - seasonally ad...,January 2021,%,61.9,▲0.1,▼-0.7
4,Job Vacancies - seasonally adjusted,November 2020,'000,254.4,▲23.4%,▲12.1%
5,Estimated resident population - (preliminary),Jun Qtr 2020,'000,25687.0,▼0.1%,▼1.3%
6,Short-term overseas visitor arrivals (b),December 2020,'000,na,na,na

,Indicator,Period,Unit,Value,Change previous period,Change same period last year
0,Company gross operating profits (in current pr...,Dec Qtr 2020,$m,"109,698",▼6.6,▲15.1
1,"Average weekly ordinary time earnings, full-ti...",November 2020,$,1711.60,np,▲3.2%

,Indicator,Period,Unit,Value,Change previous period,Change same period last year
0,New housing loan commitments - seasonally adju...,January 2021,$b,28.75,▲10.5%,▲44.3%
1,New housing loan commitments to Owner Occupier...,January 2021,$b,22.11,▲10.9%,▲52.3%
2,New housing loan commitments to Investors - se...,January 2021,$b,6.64,▲9.4%,▲22.7%
3,New personal loan commitments for fixed term l...,January 2021,$b,1.78,▲0.2%,▼-0.1%
4,New business loan commitments for construction...,January 2021,$b,1.43,▼-32.9%,▼-32.9%
5,New business loan commitments for the purchase...,January 2021,$b,4.00,▼-25.7%,▼-12.5%